<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="flex items-center mr-4 text-sm leading-5 font-medium" style="color:white;font-weight:400">
        <span class="mr-2">Public</span>
        <!-- On: "bg-indigo-600", Off: "bg-gray-200" -->
        <span id="public-toggle" role="checkbox" tabindex="0" aria-checked="false" class="{% if domain.private %}bg-green-400{% else %}bg-gray-200{% endif %} relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:shadow-outline" onclick="TogglePrivacy()">
          <!-- On: "translate-x-5", Off: "translate-x-0" -->
          <span id="private-toggle" aria-hidden="true" class="{% if domain.private %}translate-x-5{% else %}translate-x-0{% endif %} inline-block h-5 w-5 rounded-full bg-white shadow transform transition ease-in-out duration-200"></span>
        </span>
        <span class="ml-2">Private</span>
    </div>
</body>
</html>