<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
      <!-- Profile dropdown -->
      <div class="ml-3 relative">
        <div>
          <button class="max-w-xs flex items-center text-sm rounded-full focus:outline-none focus:shadow-outline" id="user-menu" aria-label="User menu" aria-haspopup="true" onclick="ShowDropdown('user-dropdown-menu');">
              <span class="inline-flex items-center justify-center h-8 w-8 rounded-full bg-gray-200">
                  <span class="text-sm font-medium leading-none text-gray-500">{{ current_user.name|initial_filter }}</span>
              </span>
          </button>
        </div>
        <!--
          Profile dropdown panel, show/hide based on dropdown state.

          Entering: "transition ease-out duration-100"
            From: "transform opacity-0 scale-95"
            To: "transform opacity-100 scale-100"
          Leaving: "transition ease-in duration-75"
            From: "transform opacity-100 scale-100"
            To: "transform opacity-0 scale-95"
        -->
        <div id="user-dropdown-menu" class="origin-top-right absolute right-0 mt-2 w-100 rounded-md shadow-lg transform opacity-0 scale-95" style="display:none;" {#onmouseleave="ShowDropdown(this.id)"#}>
          <div class="py-1 rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
            {% if current_user.is_authenticated %}
                <div class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150 remove-margin" role="menuitem">
                    {{ current_user.name|title }}
                    {% if current_user.role == 'creator' %} (Admin){% endif %}
                </div>
            {% endif %}
            <div class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150 remove-margin" role="menuitem">{{ current_user.email }}</div>
            <div class="border-t border-gray-100"></div>

            {% if current_user.role == 'creator' and current_user.domain == subdomain %}
                <i class="fa fa-plus mr-2"></i><a href="{{ url_for('user.invite', subdomain=subdomain) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150 remove-margin" role="menuitem" onclick="ShowInviteModal()">Invite an admin</a>
            {% endif %}
            <i class="fa fa-gear mr-2"></i><a href="{{ url_for('user.settings', subdomain=subdomain) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150 remove-margin" role="menuitem">Settings</a>
            <i class="si si-logout mr-2"></i><a href="{{ url_for('user.logout', subdomain=subdomain) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150 remove-margin" role="menuitem">Sign out</a>
          </div>
        </div>
      </div>


        <!-- Invite modal -->
        <div class="fixed bottom-0 inset-x-0 px-4 pb-6 sm:inset-0 sm:p-0 sm:flex sm:items-center sm:justify-center">
          <!--
            Background overlay, show/hide based on modal state.

            Entering: "ease-out duration-300"
              From: "opacity-0"
              To: "opacity-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100"
              To: "opacity-0"
          -->
          <div id="invite-modal-overlay" class="fixed inset-0 transition-opacity opacity-0">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
          </div>

          <!--
            Modal panel, show/hide based on modal state.

            Entering: "ease-out duration-300"
              From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              To: "opacity-100 translate-y-0 sm:scale-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100 translate-y-0 sm:scale-100"
              To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          -->
          <div id="invite-modal-panel" class="bg-white rounded-lg px-4 pt-5 pb-4 overflow-hidden shadow-xl transform transition-all sm:max-w-sm sm:w-full sm:p-6 opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
              <form action="{{ url_for('user.send_invite', subdomain=subdomain) }}" method="post">
                  <div>
                  <div class="mt-3 text-center sm:mt-5">
                    <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                      Invite an admin by email
                    </h3>
                    <div class="mt-2">
                      <div class="rounded-md">
                        <input id="email" name="email" type="email" class="form-input block w-full sm:text-lg sm:leading-5" value="" placeholder="Enter an email" required />
                    </div>
                    </div>
                  </div>
                </div>
                <div class="mt-5 sm:mt-6">
                  <span class="flex w-full rounded-md shadow-sm">
                    <button type="submit" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-indigo-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                      Send invite
                    </button>
                  </span>
                </div>
              </div>
            </form>
        </div>

        <script>
            function ShowInviteModal() {
                var overlay = document.getElementById('invite-modal-overlay');
                var panel = document.getElementById('invite-modal-panel');

                if (overlay.classList.contains('opacity-0')){
                    overlay.classList.remove('opacity-0');
                    overlay.classList.add('opacity-100');

                    panel.classList.remove("opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95");
                    panel.classList.add("opacity-100 translate-y-0 sm:scale-100");
                }
                else {
                    overlay.classList.remove('opacity-100');
                    overlay.classList.add('opacity-0');

                    panel.classList.remove("opacity-100 translate-y-0 sm:scale-100");
                    panel.classList.add("opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95");
                }
            }
        </script>
    </body>
</html>