{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Sign Up - {{ 'site_name'|site_name_filter }}{% endblock %}

{% block body %}
  <head>
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">
  </head>
  <div class="row" style="margin-top:50px;">
    <div class="block-content" style="width:50%;min-width:300px;max-width:350px;margin:0 auto;
    border:1px solid #c5c5c5;border-radius:4px; padding:20px;float:none;margin-top:50px; background-color:#fff;">
    {% if subdomain %}
      {% call f.form_tag('user.signup', subdomain=subdomain) %}
        <legend>Sign up</legend>

        {% call f.form_group(form.name, css_class='sm-margin-bottom',
                             autofocus='autofocus',
                             placeholder='Name') %}
        {% endcall %}

        {% call f.form_group(form.email, css_class='sm-margin-bottom',
                             placeholder='Email address') %}
        {% endcall %}

        {% call f.form_group(form.company, css_class='sm-margin-bottom',
                             placeholder='Company name') %}
        {% endcall %}

         <div id="domain-group" class="input-group" style="margin-bottom:25px;">
            {% call f.form_group(form.domain, css_class='sm-margin-bottom',
                placeholder='Domain') %}
            {% endcall %}
            <span class="input-group-addon bg-white">.getwishlist.io</span>
         </div>

        {% call f.form_group(form.password, css_class='sm-margin-bottom',
                placeholder='Password') %}
        {% endcall %}

        <div class="row">
          <div class="col-md-6" style="float:none;margin:0 auto;">
            <button type="submit" class="btn btn-block bg-indigo-500 text-white-800">
                <span style="color:white">Sign Up</span>
            </button>
          </div>
        </div>
        <div class="row"><br /></div>
        <div class="row">
          <div class="col-md-8" style="width:100%;">
            <div style="height:100%;border:none;">
                <span style="font-size:16px;">Already registered? &nbsp;<a href="{{ url_for('user.login', subdomain=subdomain) }}"><span class="text-indigo-800"><u>Login</u></span></a></span>
             </div>
          </div>
        </div>
      {% endcall %}<br />
    {% else %}
        {% call f.form_tag('user.signup_anon') %}
        <legend>Sign up</legend>

        {% call f.form_group(form.name, css_class='sm-margin-bottom',
                             autofocus='autofocus',
                             placeholder='Name') %}
        {% endcall %}

        {% call f.form_group(form.email, css_class='sm-margin-bottom',
                             placeholder='Email address') %}
        {% endcall %}

        {% call f.form_group(form.company, css_class='sm-margin-bottom',
                             placeholder='Company name') %}
        {% endcall %}

         <div id="domain-group" class="input-group" style="margin-bottom:25px;">
            {% call f.form_group(form.domain, css_class='sm-margin-bottom',
                placeholder='Domain') %}
            {% endcall %}
            <span class="input-group-addon bg-white">.getwishlist.io</span>
         </div>

        {% call f.form_group(form.password, css_class='sm-margin-bottom',
                placeholder='Password') %}
        {% endcall %}

        <div class="row">
          <div class="col-md-6" style="float:none;margin:0 auto;">
            <button type="submit" class="btn btn-block bg-indigo-500 text-white-800">
                <span style="color:white">Sign Up</span>
            </button>
          </div>
        </div>
        <div class="row"><br /></div>
        <div class="row">
          <div class="col-md-8" style="width:100%;">
            <div style="height:100%;border:none;">
                <span style="font-size:16px;">Already registered? &nbsp;<a href="{{ url_for('user.login', subdomain=subdomain) }}"><span class="text-indigo-800"><u>Login</u></span></a></span>
             </div>
          </div>
        </div>
      {% endcall %}<br />
    {% endif %}
    <small>By signing up you agree to our <a href="{{ url_for('page.privacy') }}">Privacy Policy</a> and <a href="{{ url_for('page.terms') }}">Terms of Service</a></small>
    </div>
  </div>

    <script>
        document.getElementById("company").addEventListener("keyup", function(){
            document.getElementById("domain").value = document.getElementById("company").value;
        });

        $( document ).ready(function() {
            document.body.classList = 'bg-inidgo-500';
        });
    </script>
{% endblock %}
