<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Sign up - {{ 'site_name'|site_name_filter }}</title>

        <meta name="description" content="OneUI - Admin Settings Template &amp; UI Framework created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="../../../../static/logo/favicon.ico">

        <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="96x96">
        <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="160x160">
        <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="192x192">
        <!-- END Icons -->

{#        <!-- Page JS Plugins CSS -->#}
{#        <link rel="stylesheet" href="../../../../static/oneui/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css">#}
{#        <link rel="stylesheet" href="../../../../static/oneui/assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">#}
{#        <link rel="stylesheet" href="../../../../static/oneui/assets/js/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">#}
{#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css">#}
{#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">#}
{#        <link rel="stylesheet" href="../../../../static/oneui/assets/js/plugins/select2/select2.min.css">#}
{#        <link rel="stylesheet" href="../../../../static/oneui/assets/js/plugins/select2/select2-bootstrap.min.css">#}
{#        <link rel="stylesheet" href="../../../../static/oneui/assets/js/plugins/jquery-auto-complete/jquery.auto-complete.min.css">#}
{#        <link rel="stylesheet" href="../../../../static/oneui/assets/js/plugins/ion-rangeslider/css/ion.rangeSlider.min.css">#}
{#        <link rel="stylesheet" href="../../../../static/oneui/assets/js/plugins/ion-rangeslider/css/ion.rangeSlider.skinHTML5.min.css">#}
{#        <link rel="stylesheet" href="../../../../static/oneui/assets/js/plugins/dropzonejs/dropzone.min.css">#}
{#        <link rel="stylesheet" href="../../../../static/oneui/assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.css">#}
{##}
{#        <link rel="stylesheet" href="../../../../static/oneui/assets/js/plugins/datatables/jquery.dataTables.min.css">#}
{##}
{#        <!-- Stylesheets -->#}
{#        <!-- Web fonts -->#}
{#        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7CRoboto:300,400,400italic,600,700">#}
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina+2" rel="stylesheet">
{##}
{#        <!-- Bootstrap and OneUI CSS framework -->#}
{#        <link rel="stylesheet" href="../../../../static/oneui/assets/css/bootstrap.min.css">#}
        <link rel="stylesheet" id="css-main" href="../../../../static/oneui/assets/css/oneui.css">
{##}
{#        <!-- Shepherd JS -->#}
{#        <link rel="stylesheet" href="../../../../static/shepherd.js/dist/css/shepherd-theme-square.css"/>#}
{##}
{#        <!-- CSS for form -->#}
{#        <link rel="stylesheet" href="../../../../static/form/form.css"/>#}

        <!-- Tailwind CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">

        <!-- END Stylesheets -->
    </head>
    <body>
        <div>
          <nav class="bg-indigo-700">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
              <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                  <div class="xl-font-size">
                      <span class="text-white" style="font-size:24px;">{{ 'site_name'|site_name_filter }}</span>
                  </div>
                  <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline">
                      <a href="#" class="px-3 py-2 rounded-md text-sm font-medium text-white bg-indigo-800 focus:outline-none focus:text-white focus:bg-indigo-600">Dashboard
                      </a>
                      <a href="#" class="ml-4 px-3 py-2 rounded-md text-sm font-medium text-indigo-200 hover:text-white hover:bg-indigo-600 focus:outline-none focus:text-white focus:bg-indigo-600">Team
                      </a>
                      <a href="#" class="ml-4 px-3 py-2 rounded-md text-sm font-medium text-indigo-200 hover:text-white hover:bg-indigo-600 focus:outline-none focus:text-white focus:bg-indigo-600">Projects
                      </a>
                      <a href="#" class="ml-4 px-3 py-2 rounded-md text-sm font-medium text-indigo-200 hover:text-white hover:bg-indigo-600 focus:outline-none focus:text-white focus:bg-indigo-600">Calendar
                      </a>
                      <a href="#" class="ml-4 px-3 py-2 rounded-md text-sm font-medium text-indigo-200 hover:text-white hover:bg-indigo-600 focus:outline-none focus:text-white focus:bg-indigo-600">Reports
                      </a>
                    </div>
                  </div>
                </div>

                <div class="-mr-2 flex md:hidden">
                  <!-- Mobile menu button -->
                  <button class="inline-flex items-center justify-center p-2 rounded-md text-indigo-300 hover:text-white hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600 focus:text-white">
                    <!-- Menu open: "hidden", Menu closed: "block" -->
                    <svg class="block h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                    <!-- Menu open: "block", Menu closed: "hidden" -->
                    <svg class="hidden h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>

            <!--
              Mobile menu, toggle classes based on menu state.

              Open: "block", closed: "hidden"
            -->
            <div class="hidden md:hidden">
              <div class="px-2 pt-2 pb-3 sm:px-3">
                <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-white bg-indigo-800 focus:outline-none focus:text-white focus:bg-gray-700">Dashboard
                </a>
                <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-indigo-200 hover:text-white hover:bg-indigo-600 focus:outline-none focus:text-white focus:bg-indigo-600">Team
                </a>
                <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-indigo-200 hover:text-white hover:bg-indigo-600 focus:outline-none focus:text-white focus:bg-indigo-600">Projects
                </a>
                <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-indigo-200 hover:text-white hover:bg-indigo-600 focus:outline-none focus:text-white focus:bg-indigo-600">Calendar
                </a>
                <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-indigo-200 hover:text-white hover:bg-indigo-600 focus:outline-none focus:text-white focus:bg-indigo-600">Reports
                </a>
              </div>
              <div class="pt-4 pb-3 border-t border-gray-700">
                <div class="flex items-center px-5">
                  <div class="flex-shrink-0">
                    <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
                  </div>
                  <div class="ml-3">
                    <div class="text-base font-medium leading-none text-white">Tom Cook
                    </div>
                    <div class="mt-1 text-sm font-medium leading-none text-indigo-300">tom@example.com
                    </div>
                  </div>
                </div>
                <div class="mt-3 px-2" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                  <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-indigo-300 hover:text-white hover:bg-indigo-600 focus:outline-none focus:text-white focus:bg-indigo-600" role="menuitem">Your Profile
                  </a>
                  <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-indigo-300 hover:text-white hover:bg-indigo-600 focus:outline-none focus:text-white focus:bg-indigo-600" role="menuitem">Settings
                  </a>
                  <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-indigo-300 hover:text-white hover:bg-indigo-600 focus:outline-none focus:text-white focus:bg-indigo-600" role="menuitem">Sign out
                  </a>
                </div>
              </div>
            </div>
          </nav>

          <main>
            <div class="max-w-7xl mx-auto py-2 sm:px-6 lg:px-8">
              <!-- Replace with your content -->
              <div class="min-h-screen bg-gray-50 flex flex-col justify-center py-2 sm:px-6 lg:px-8">
                  <div class="sm:mx-auto sm:w-full sm:max-w-md">
                    <h2 class="text-center text-3xl leading-9 font-extrabold text-gray-900">
                      Sign up for a free 14-day trial
                    </h2>
                  </div>

                  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
                    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                      <form action="{{ url_for('user.signup') }}" method="POST">
                        <div>
                          <div class="mt-1 rounded-md shadow-sm">
                            <input id="name" name="name" type="text" placeholder="Name" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
                          </div>
                        </div>

                        <div class="mt-2">
                          <div class="mt-1 rounded-md shadow-sm">
                            <input id="email" name="email" type="email" placeholder="Email Address" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
                          </div>
                        </div>

                        <div class="mt-2">
                          <div class="mt-1 rounded-md shadow-sm">
                            <input id="company" name="company" type="text" placeholder="Company Name" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
                          </div>
                        </div>

                        <div class="mt-2">
                          <div class="mt-1 relative rounded-md shadow-sm">
                            <input id="domain" name="domain" type="text" placeholder="Domain" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
                            <div class="absolute inset-y-0 right-0 pl-3 flex items-center pointer-events-none px-3">
                              <span class="text-gray-500 sm:text-sm sm:leading-5">
                                .getwishlist.io
                              </span>
                            </div>
                          </div>
                        </div>

                        <div class="mt-2">
                          <div class="mt-1 rounded-md shadow-sm">
                            <input id="password" name="password" type="password" placeholder="Password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
                          </div>
                        </div>

                        <!-- role for the user signup. this will be different for members -->
                        <input id="role" name="role" type="hidden" value="creator" />

                        <div class="mt-2">
                          <span class="block w-full rounded-md shadow-sm">
                            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                              Sign up
                            </button>
                          </span>
                        </div>
                      </form>

                      <div class="mt-6">
                        <div class="relative">
                          <div class="absolute inset-0 flex items-center">
                            <div class="w-full border-t border-gray-300"></div>
                          </div>
                          <div class="relative flex justify-center text-sm leading-5">
                            <span class="px-2 bg-white text-gray-500">
                              Or continue with
                            </span>
                          </div>
                        </div>

                        <div class="mt-6 grid grid-cols-3 gap-3">
                          <div>
                            <span class="w-full inline-flex rounded-md shadow-sm">
                              <button type="button" class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition duration-150 ease-in-out" aria-label="Sign in with Facebook">
                                <svg class="h-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                  <path fill-rule="evenodd" d="M20 10c0-5.523-4.477-10-10-10S0 4.477 0 10c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V10h2.54V7.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V10h2.773l-.443 2.89h-2.33v6.988C16.343 19.128 20 14.991 20 10z" clip-rule="evenodd"/>
                                </svg>
                              </button>
                            </span>
                          </div>

                          <div>
                            <span class="w-full inline-flex rounded-md shadow-sm">
                              <button type="button" class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition duration-150 ease-in-out" aria-label="Sign in with Twitter">
                                <svg class="h-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                  <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84"/>
                                </svg>
                              </button>
                            </span>
                          </div>

                          <div>
                            <span class="w-full inline-flex rounded-md shadow-sm">
                              <button type="button" class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition duration-150 ease-in-out" aria-label="Sign in with GitHub">
                                <svg class="h-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                  <path fill-rule="evenodd" d="M10 0C4.477 0 0 4.484 0 10.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0110 4.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.203 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.942.359.31.678.921.678 1.856 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0020 10.017C20 4.484 15.522 0 10 0z" clip-rule="evenodd"/>
                                </svg>
                              </button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- /End replace -->
            </div>
          </main>
        </div>
    </body>
</html>