{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Login - {{ 'site_name'|site_name_filter }}{% endblock %}

{% block body %}
    <head>
        <!-- Tailwind CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">
    </head>
  <div class="row" style="margin-top:50px;">
    <div class="block-content" style="width:50%;min-width:300px;max-width:350px;margin:0 auto;
    border:1px solid #c5c5c5;border-radius:4px; padding:20px;float:none;margin-top:50px; background-color:#fff;">
        {% call f.form_tag('user.update_credentials', subdomain=subdomain) %}
            <legend>Update your login credentials</legend>
            <p class="small help-block sm-margin-bottom">
              Email, name and username
            </p>
            {% call f.form_group(form.name, css_class='lg-margin-bottom', placeholder='Full Name') %}
            {% endcall %}

            {% call f.form_group(form.email, css_class='sm-margin-bottom') %}
            {% endcall %}

            {% call f.form_group(form.username, css_class='sm-margin-bottom', placeholder='Username', autofocus='autofocus') %}
            {% endcall %}

            <hr />

            <p class="small help-block sm-margin-bottom">
              Update password
            </p>
            {% call f.form_group(form.password, css_class='sm-margin-bottom',
                                 placeholder='New password (optional)') %}
            {% endcall %}
            {% call f.form_group(form.confirm, css_class='sm-margin-bottom', placeholder='Confirm new password') %}
            {% endcall %}

            <hr />

            <p class="small help-block sm-margin-bottom" style="color:red">
              Enter your current password to make any changes.
            </p>

            {% call f.form_group(form.current_password, css_class='sm-margin-bottom', placeholder='Current password (required)') %}
            {% endcall %}

            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn bg-indigo-500 text-white btn-block">
                  Save
                </button>
              </div>
              <div class="col-md-6">
                <div class="visible-xs visible-sm sm-margin-top"></div>
                <a href="{{ url_for('user.settings', subdomain=subdomain) }}"
                   class="btn btn-default btn-block">
                  Cancel
                </a>
              </div>
            </div>
        {% endcall %}
    </div>
  </div>
{% endblock %}
