{% import 'macros/flash.html' as flash with context %}
<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>{{ feedback.title }} - {{ 'site_name'|site_name_filter }}</title>

        <meta name="description" content="Wishlist - Collect and organize user feedback">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='logo/favicon.ico', subdomain=subdomain) }}">

        <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="96x96">
        <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="160x160">
        <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="192x192">
        <!-- END Icons -->

        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina+2" rel="stylesheet">

        <!-- Icons -->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='icons/styles.css', subdomain=subdomain) }}">

        <!-- Tailwind CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">

        <!-- jQuery comments -->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='comments/css/jquery-comments.css') }}">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


        <!-- END Stylesheets -->
    </head>
    <body>
        <div style="height:100vh;">
        {% with page='view' %}{% include '/user/includes/main_header.html' ignore missing %}{% endwith %}
            <div class="relative z-10 flex-shrink-0 flex h-16 bg-white shadow">
              <button class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:bg-gray-100 focus:text-gray-600 md:hidden" aria-label="Open sidebar" onclick="OpenSidebar()">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
                </svg>
              </button>
              <div class="flex-1 px-4 flex justify-between">
                <div class="flex-1 flex">
                  <div class="w-full flex md:ml-0">
                    <label for="search_field" class="sr-only">Search</label>
                    <div class="relative w-full text-gray-400 focus-within:text-gray-600">
                      <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none">
                        {#<svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" />
                        </svg>#}
                      </div>
                        <div id="search_field" class="block w-full h-full pl-8 pr-3 py-2 rounded-md text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 sm:text-sm"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <main class="flex-1 relative z-0 overflow-y-auto pb-6 focus:outline-none bg-gray-100" tabindex="0">
            {#{{ flash.render() }}#}
              <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 mt-10">
                {% if current_user.is_authenticated and current_user.role == 'creator' and current_user.domain == subdomain %}
                <span class="text-gray-900">
                    <div class="pull-right">
                      <label for="status-dropdown-menu text-gray-900" style="margin-right:5px;">Set status</label>
                        <div class="relative inline-block text-left">
                          <div>
                            <span class="rounded-md shadow-sm">
                              <button id="status-dropdown-button" type="button" onclick="ShowDropdown('status-dropdown-menu')" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition ease-in-out duration-150" id="options-menu" aria-haspopup="true" aria-expanded="true">
                                <span id="selected-status">{{ feedback.status }}</span>
                                <svg class="-mr-1 ml-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/>
                                </svg>
                              </button>
                            </span>
                          </div>

                          <!--
                            Dropdown panel, show/hide based on dropdown state.

                            Entering: "transition ease-out duration-100"
                              From: "transform opacity-0 scale-95"
                              To: "transform opacity-100 scale-100"
                            Leaving: "transition ease-in duration-75"
                              From: "transform opacity-100 scale-100"
                              To: "transform opacity-0 scale-95"
                          -->
                          <div id="status-dropdown-menu" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg" style="display:none;" {#onmouseleave="ShowDropdown(this.id)"#}>
                            <div class="rounded-md bg-white shadow-xs" style="z-index:999;">
                              <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                                  {% for status in statuses %}
                                    <a href="#" id="{{ status.status_id }}" data-status-name="{{ status.name }}" data-status-id="{{ status.status_id }}" onclick="UpdateStatus(this);" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem">{{ status.name }}</a>
                                  {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </span><br /><br />
                {% endif %}
                <!-- Replace with your content -->
                <form action="{{ url_for('user.update_feedback', subdomain=subdomain) }}" method="post">
                    <input type="hidden" name="feedback_id" value="{{ feedback.feedback_id }}" />
                    <div class="bg-white shadow overflow-hidden  sm:rounded-lg">
                        <div class="px-4 py-5 sm:p-0">
                            <dl>
                                <div class="sm:grid sm:grid-cols-8 sm:gap-4 sm:px-6 sm:py-5">
                                    <dt class="text-sm leading-5 font-medium sm:col-span-7">
                                        {% if current_user.is_authenticated and current_user.role == 'creator' and current_user.domain == subdomain %}
                                        <div>
                                            <label for="title" class="sr-only">Title
                                            </label>
                                            <div class="rounded-md">
                                                <input id="title" name="title" class="form-input w-3/4 sm:text-lg sm:leading-5 mr-3" value="{{ feedback.title }}" placeholder="Enter a title" required />
                                                <a href="{{ url_for('user.delete_feedback', feedback_id=feedback.feedback_id, subdomain=subdomain) }}" style="cursor:pointer"><i class="fa fa-trash-o fa-2x translate-y-1" style="color:red;"></i></a>
                                            </div>
                                        </div>
                                        <p class="mt-1 ml-3 max-w-2xl text-sm leading-5 text-gray-500">
                                            <i class="si si-clock mr-2"></i>{{ feedback.created_on|datetime_filter }}
                                        </p>
                                        {% else %}
                                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                                            {{ feedback.title }}
                                        </h3>
                                        <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
                                            <i class="si si-clock mr-2"></i>{{ feedback.created_on|datetime_filter }}
                                        </p>
                                        {% endif %}
                                    </dt>
                                    <dd class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-1">
                                        <dl class="pull-right text-right" style="cursor:pointer" {% if current_user.is_authenticated %}onclick="Vote('{{ feedback.feedback_id }}', true)" {% else %}onclick="Vote('{{ feedback.feedback_id }}', false)" {% endif %}>
                                            <dd class="mt-1 text-3xl leading-9 text-gray-900">
                                                <span id="votes-{{ feedback.feedback_id }}" class="h-10 w-10 {% if not voted %}text-indigo-600{% else %}text-green-400{% endif %}" style="font-size:24px;margin-bottom:0;">
                                                    <i class="fa fa-thumbs-o-up" style="margin-right:5px;"></i> <span id="{{ feedback.feedback_id }}-votes">{{ vote_count }}</span><br />
                                                </span>
                                            </dd>
                                            <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
                                                <span style="font-size:14px;">{% if feedback.votes != 1 %}votes{% else %}vote{% endif %}</span>
                                            </dt>
                                        </dl>
                                    </dd>
                                </div>
                            </dl>
                      </div>
                      <div class="px-4 py-5 sm:p-0">
                        <dl>
                          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
                            <dt class="text-sm leading-5 font-medium text-gray-500">
                              Description
                            </dt>
                            <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                                {% if not (current_user.is_authenticated and current_user.role == 'creator' and current_user.domain == subdomain) %}
                                    {{ feedback.description }}
                                {% else %}
                                    <textarea name="description" rows="10" class="form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" style="width:100%;">{{ feedback.description }}</textarea>
                                {% endif %}
                            </dd>
                          </div>
                          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5 mt-2">
                            <dt class="text-sm leading-5 font-medium text-gray-500">
                              Status
                            </dt>
                            <input id="status" type="hidden" name="status" value="{{ feedback.status_id }}" />
                            <dd class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                                {% if feedback.approved %}
                                    {% if statuses and statuses|length > 0 %}
                                        {% set status_list = statuses|selectattr('status_id', 'equalto', feedback.status_id ) | list %}
                                        <span class="inline-flex items-center px-2 py-0.5 rounded text-sm font-medium leading-4 {% if status_list|length > 0 %}bg-{{ (status_list | first).color }}-100 text-{{ (status_list | first).color }}-800{% endif %}">
                                          {{ feedback.status }}
                                        </span>
                                    {% endif %}
                                {% else %}
                                    {% if statuses and statuses|length > 0 %}
                                        {% set status_list = statuses|selectattr('status_id', 'equalto', feedback.status_id ) | list %}
                                        <span class="inline-flex items-center px-2 py-0.5 rounded text-sm font-medium leading-4 {% if status_list|length > 0 %}bg-{{ (status_list | first).color }}-100 text-{{ (status_list | first).color }}-800{% endif %}">
                                          Needs approval
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </dd>
                          </div>
                          <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                            <dt class="text-sm leading-5 font-medium text-gray-500">
                              Posted by
                            </dt>
                            <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                            {% if current_user.is_authenticated and feedback.email == current_user.email %}
                                You
                            {% elif feedback.username and use_username %}
                                {{ feedback.username }}
                            {% elif feedback.fullname %}
                                {{ feedback.fullname }}
                            {% else %}
                                {% if current_user.is_authenticated and current_user.role == 'creator' and current_user.domain == subdomain %}
                                    {{ feedback.email }}
                                {% else %}
                                    An anonymous user
                                {% endif %}
                            {% endif %}
                            </dd>
                          </div>
                        </dl>
                      </div>
                    </div>
                      <div class="mt-8 border-t border-gray-200 pt-5">
                        {% if feedback.approved %}
                            <div class="flex justify-end">
                              <span class="inline-flex rounded-md shadow-sm mr-5">
                                <a href="{{ url_for('user.dashboard', subdomain=subdomain) }}" class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                                  Back
                                </a>
                              </span>
                                {% if current_user.is_authenticated and current_user.role == 'creator' and current_user.domain == subdomain %}
                                  <span class="inline-flex rounded-md shadow-sm">
                                    <button type="submit" class="py-2 px-4 border border-gray-300 bg-indigo-600 rounded-md text-sm leading-5 font-medium text-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                                      Save
                                    </button>
                                  </span>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="flex justify-end">
                              <span class="inline-flex rounded-md shadow-sm mr-5">
                                <button type="button" onclick="ApproveFeedback({{ feedback.feedback_id }}, false)" class="py-2 px-4 border border-red-300 rounded-md text-sm leading-5 font-medium text-red-600 hover:text-red-600 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                                  Deny
                                </button>
                              </span>
                                {% if current_user.is_authenticated and current_user.role == 'creator' and current_user.domain == subdomain %}
                                  <span class="inline-flex rounded-md shadow-sm">
                                    <button type="button" onclick="ApproveFeedback({{ feedback.feedback_id }}, true)" class="py-2 px-4 border border-green-300 bg-green-400 rounded-md text-sm leading-5 font-medium text-white hover:text-green-600 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                                      Approve
                                    </button>
                                  </span>
                                {% endif %}
                            </div>
                        {% endif %}
                      </div>
                    </form>
                  <div class="text-sm leading-5 font-lg text-gray-600 mt-5 mb-5">
                      Comments ({{ comment_count }})

                      {#{% if not current_user.is_authenticated %}
                          <br /><br />Please sign up or log in to comment.
                      {% endif %}#}
                  </div>
                  <div id="comments-container" class="mt-1 text-sm leading-5 font-lg text-gray-700"></div>
                <!-- /End replace -->
              </div>
            </main>
            <!-- END Page Container -->

            {% if not (current_user.role == 'creator' and current_user.domain == subdomain) and (domain and domain.private) %}
                <div id="private-overlay">
                    {% include '/user/includes/private_overlay.html' ignore missing %}
                    <script>
                        document.getElementById('search_field').readOnly = true;
                    </script>
                </div>
            {% endif %}

            <div id="login-overlay" style="display:none">
                {% include '/user/includes/login_overlay.html' ignore missing %}
            </div>
        </div>



        <!-- jQuery -->
        <script src="{{ url_for('static', filename='oneui/assets/js/core/jquery.min.js', subdomain=subdomain) }}"></script>

        <!-- jQuery comments -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='comments/js/jquery-comments.js') }}"></script>

        <script>
            function ShowDropdown(id) {
                var dropdown = document.getElementById(id);
                if (dropdown.classList.contains('opacity-0')){
                    dropdown.classList.remove('opacity-0');
                    dropdown.classList.remove('scale-95');
                    dropdown.classList.add('opacity-100');
                    dropdown.classList.add('scale-100');

                    dropdown.style.display = '';
                }
                else {
                    dropdown.classList.remove('opacity-100');
                    dropdown.classList.remove('scale-100');
                    dropdown.classList.add('opacity-0');
                    dropdown.classList.add('scale-95');

                    dropdown.style.display = 'none';
                }
            }

            function ApproveFeedback(feedback_id, approve){
                var url = "{{ url_for('user.approve_feedback') }}";
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {'feedback_id': feedback_id, 'approve': approve},
                    success: function (response) {
                        if (approve === false){
                            window.location.href = "{{ url_for('user.feedback_approval', subdomain=subdomain) }}";
                        }
                        else{
                            location.reload();
                        }
                    },
                    error: function (xhr) {
                    }
                });
            }

            function UpdateStatus(sel){
                document.getElementById('status').value = sel.id;
                document.getElementById('selected-status').innerText = sel.getAttribute('data-status-name');
            }

            function Vote(feedback_id, logged_in) {
                if (logged_in){
                    var url = ReplaceSubdomain("{{ url_for('user.update_vote', subdomain='DUMMY_VALUE') }}");

                    var user_id = null;
                    if (UserIsLoggedIn()){
                        user_id = '{{ current_user.id }}';
                    }
                    $.ajax({
                        url: url,
                        type: 'POST',
                        beforeSend: UpdateVote(feedback_id),
                        data: {'feedback_id': feedback_id, 'user_id': user_id},
                        success: function (response) {
                            if ('success' in response){
                            }
                        },
                        error: function (xhr) {
                        }
                    });
                }else{
                    ShowLoginModal('vote', feedback_id);
                }

            }

            function UpdateVote(feedback_id) {
                var votes = document.getElementById(feedback_id + '-votes').innerText;
                var count = parseInt(votes);

                if (document.getElementById('votes-' + feedback_id).classList.contains('text-indigo-600')){
                    document.getElementById(feedback_id + '-votes').innerText = String(count + 1);
                    document.getElementById('votes-' + feedback_id).classList.remove('text-indigo-600');
                    document.getElementById('votes-' + feedback_id).classList.add('text-green-400');
                }
                else{
                    document.getElementById(feedback_id + '-votes').innerText = String(count - 1);
                    document.getElementById('votes-' + feedback_id).classList.remove('text-green-400');
                    document.getElementById('votes-' + feedback_id).classList.add('text-indigo-600');
                }

                if ('{{ demo }}' === 'True'){
                    return false;
                }

            }

            function GetComments(feedback_id){
                var url = "{{ url_for('user.get_comments') }}";

                var user_id = null;
                if (UserIsLoggedIn()){
                    user_id = '{{ current_user.id }}';
                }
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {'feedback_id': feedback_id, 'user_id': user_id},
                    success: function (response) {
                        InitializeComments(response['comments']);
                    },
                    error: function (xhr) {
                    }
                });
            }

            // Initialize comments
            function InitializeComments(comments){
                var user_id = null;
                var readOnly = false;
                if (UserIsLoggedIn()){
                    user_id = '{{ current_user.id }}';
                }

                $('#comments-container').comments({
                    //profilePictureURL: "{{ url_for('static', filename='icons/user.png') }}",
                    enableUpvoting: false,
                    postCommentOnEnter: true,
                    readOnly: readOnly,
                    getComments: function(success, error) {
                        success(comments);
                    },
                    postComment: function(commentJSON, success, error) {
                        if (UserIsLoggedIn()){
                            var data = Object.assign(commentJSON, {'feedback_id': '{{ feedback.feedback_id }}', 'user_id': user_id});
                            $.ajax({
                                type: 'POST',
                                url:  "{{ url_for('user.add_comment') }}",
                                data: data,
                                beforeSend: success(commentJSON),
                                success: function(comment) {
                                },
                                error: error
                            });
                        }else {
                            localStorage.setItem('comment', JSON.stringify(commentJSON));
                            ShowLoginModal('comment', '{{ feedback.feedback_id }}');
                            success(commentJSON);
                        }

                    },
                    putComment: function(commentJSON, success, error) {
                        var data = Object.assign(commentJSON, {'feedback_id': '{{ feedback.feedback_id }}', 'user_id': user_id});
                        $.ajax({
                            type: 'POST',
                            url:  "{{ url_for('user.update_comment') }}",
                            data: data,
                            beforeSend: success(commentJSON),
                            success: function(comment) {
                            },
                            error: error
                        });
                    }
                });

                // SetCommentBoxes();
            }

            function ReplaceSubdomain(url){
                var new_url = url.replace(/DUMMY_VALUE/, '{{ subdomain }}').toLowerCase();
                return new_url;
            }

            function CheckAnonComment(success, commentJSON){
                if(UserIsLoggedIn()){
                    success(commentJSON);
                }
                else{
                    ShowLoginModal('comment', '{{ feedback.feedback_id }}');
                    return false;
                }
            }

            function ShowLoginModal(action, feedback_id){
                if ('{{ demo }}' === 'True'){
                    return false;
                }

                document.getElementById('feedback_id').value = feedback_id;
                var modal = document.getElementById('login-overlay-modal');
                var box = document.getElementById('login-overlay-box');

                ShowModal(action);

                if (modal !== null && box !== null){
                    modal.addEventListener("click", function () {
                        HideModal();
                        location.reload();
                    }, false);
                    box.addEventListener("click", function (ev) {
                        ev.stopPropagation();
                    }, false);
                }
            }

            function ShowModal(action){
                document.getElementById('modal-action').innerText = action;
                document.getElementById('modal-submit').innerText = 'Send ' + action;

                document.getElementById('login-overlay').style.display = '';
                document.getElementById('login-overlay-form').setAttribute("onSubmit", "VoteOrComment('" + action + "')");
            }

            function HideModal(){
                document.getElementById('login-overlay').style.display = 'none';
            }

            function UserIsLoggedIn(){
                return '{{ current_user.is_authenticated }}' === 'True';
            }
        </script>
        <script>
            var body = document.getElementsByTagName("body")[0];
            var except = document.getElementById('user-dropdown-menu');
            var user_menu = document.getElementById('user-menu');
            var status_dropdown_button = document.getElementById('status-dropdown-button');
            var status_dropdown_menu = document.getElementById('status-dropdown-menu');

            if (except != null){
                body.addEventListener("click", function () {
                    except.classList.remove('opacity-100');
                    except.classList.remove('scale-100');
                    except.classList.add('opacity-0');
                    except.classList.add('scale-95');

                    except.style.display = 'none';

                }, false);
            }

            if (user_menu !== null){
                user_menu.addEventListener("click", function (ev) {
                    ev.stopPropagation(); //this is important! If removed, you'll get both alerts
                }, false);
            }

            if (status_dropdown_button !== null){
                body.addEventListener("click", function () {
                    status_dropdown_menu.classList.remove('opacity-100');
                    status_dropdown_menu.classList.remove('scale-100');
                    status_dropdown_menu.classList.add('opacity-0');
                    status_dropdown_menu.classList.add('scale-95');

                    status_dropdown_menu.style.display = 'none';
                }, false);

                status_dropdown_button.addEventListener(("click"), function (ev) {
                    ev.stopPropagation();
                }, false);

                status_dropdown_menu.addEventListener(("click"), function (ev) {
                    ev.stopPropagation();
                }, false);
            }

            // Load the comments
            GetComments('{{ feedback.feedback_id }}');

        </script>
    </body>
</html>
